<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PZ_CS" connectionString="Data Source=localhost;Initial Catalog=PZ;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGame"/>
        <binding name="BasicHttpBinding_ILogger"/>
        <binding name="BasicHttpBinding_ITable"/>
        <binding name="BasicHttpBinding_IRegister"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13622/Services/Game.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGame" contract="Game.IGame" name="BasicHttpBinding_IGame"/>
      <endpoint address="http://localhost:13622/Services/Logger.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogger" contract="Logger.ILogger" name="BasicHttpBinding_ILogger"/>
      <endpoint address="http://localhost:13622/Services/Table.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITable" contract="Table.ITable" name="BasicHttpBinding_ITable"/>
      <endpoint address="http://localhost:13622/Services/Register.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegister" contract="Register.IRegister" name="BasicHttpBinding_IRegister"/>
    </client>
    <services>
      <service name="Checkers.Services.Login">
        <endpoint address="" behaviorConfiguration="Checkers.Services.LoginAspNetAjaxBehavior" binding="webHttpBinding" contract="Checkers.Interfaces.ILogin"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Checkers.Services.LoginAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>