<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PZ_CS" connectionString="Data Source=localhost;Initial Catalog=PZ;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
    </bindings>
    <client>      
    </client>
    <services>
      <service name="Checkers.Services.Login">
        <endpoint address="" behaviorConfiguration="Checkers.Services.LoginAspNetAjaxBehavior" binding="webHttpBinding" contract="Checkers.Interfaces.ILogin"/>
      </service>
      <service name="Checkers.Services.Community">
        <endpoint address="" behaviorConfiguration="Checkers.Services.CommunityAspNetAjaxBehavior" binding="webHttpBinding" contract="Checkers.Interfaces.ICommunity"/>
      </service>
      <service name="Checkers.Services.Table">
        <endpoint address="" behaviorConfiguration="Checkers.Services.TableAspNetAjaxBehavior" binding="webHttpBinding" contract="Checkers.Interfaces.ITable"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Checkers.Services.LoginAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
        <behavior name="Checkers.Services.CommunityAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
        <behavior name="Checkers.Services.TableAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>